fastapi
uvicorn[standard]
torch
torchvision
rasterio
opencv-python-headless
numpy
albumentations
scikit-image
tqdm
celery
redis
python-multipart
pyyaml
tensorboard
slowapi
python-dotenv
sqlalchemy
passlib[bcrypt]
pydantic[email]
email-validator